.vscode
.poetry

# Cache
.ruff_cache
__pycache__
.pytest_cache

# Coverage reports
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover
*.py,cover
.hypothesis/

# User
.venv
.DS_Store
settings.json

# Build
docs/build
dist

# Notebooks (working files)
notebooks