[tool.poetry]
name = "seapopym"
version = "0.0.1.3.1"
description = "Seapodym is a Python package that provides models to simulate the dynamics of low and mid trophic level marine ecosystems."
authors = ["Jules Lehodey <lehodey.jules+seapopym@gmail.com>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/Ash12H/Seapopym"
documentation = "https://seapopym.readthedocs.io/en/latest/"
classifiers = ["Topic :: Scientific/Engineering :: Oceanography"]

[tool.poetry.urls]
"Documentation" = "https://seapopym.readthedocs.io/en/latest/"
"Bug Tracker" = "https://github.com/Ash12H/Seapopym/issues"

[tool.poetry.dependencies]
python = ">=3.12,<3.13"
xarray = "^2024.2.0"
netcdf4 = "^1.6.5"
dask = "^2024.2.0"
distributed = "^2024.2.0"
bokeh = "^3.3.4"
matplotlib = "^3.8.3"
cf-xarray = "^0.9.0"
pint = "^0.23"
xgcm = "^0.8.1"
pint-xarray = "^0.3"
zarr = "^2.17.0"
numba = "^0.59.0"


[tool.poetry.group.dev.dependencies]
ruff = "^0.2.1"
notebook = "^7.1.0"
graphviz = "^0.20.1"
pooch = "^1.8.1"
pytest = "^8.0.1"
pytest-local-badge = "^1.0.3"
hvplot = "^0.9.2"
jupyter-bokeh = "^4.0.4"


[tool.poetry.group.docs.dependencies]
sphinx = "^7.2.6"
nbsphinx = "^0.9.3"
sphinx-rtd-theme = "^2.0.0"

[tool.poetry.group.data.dependencies]
google-cloud-storage = "^2.16.0"
gcsfs = "^2024.3.1"
openpyxl = "^3.1.2"
scipy = "^1.13.0"
copernicusmarine = "^1.1.1"


[tool.poetry.group.science.dependencies]
salib = "^1.5.0"
seaborn = "^0.13.2"
scikit-learn = "^1.5.0"
scipy = "^1.13.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
